## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[41, 38, 26, 28, 25, 94, 62, 89, 19, 22, 32, 18, 9, 82, 84, 63, 73, 55, 76, 13, 81, 15, 60, 53, 99, 78, 98, 4, 3, 86, 74, 2, 39, 50, 59, 95, 54, 21, 71, 8, 93, 40, 6, 97, 1, 24, 69, 52, 70, 72, 34, 10, 92, 23, 7, 58, 77, 35, 46, 56, 5, 33, 36, 20, 68, 75, 45, 79, 96, 80, 87, 11, 30, 0, 27, 90, 67, 37, 31, 12]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set1 = set(sample_list_1)
len(set1) == len(sample_list_1)

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [60]:
## Your code here
sample_list_22 = []

for elements in range(100):
    while len(sample_list_22) < 80:
        new_list = random.sample(range(100),1)
        sample_list_22.append(new_list)

sample_list_2 = []
for elements in sample_list_22:
    sample_list_2.extend(elements)

print(sample_list_2)

[37, 15, 25, 79, 90, 97, 25, 16, 68, 75, 63, 89, 5, 25, 68, 38, 60, 34, 40, 24, 20, 0, 88, 41, 73, 50, 69, 21, 6, 2, 19, 34, 18, 90, 67, 5, 84, 62, 99, 14, 21, 99, 88, 45, 74, 37, 60, 11, 82, 18, 81, 85, 14, 57, 53, 57, 93, 52, 62, 96, 69, 80, 2, 45, 49, 73, 64, 66, 78, 67, 32, 89, 2, 43, 88, 72, 99, 1, 27, 10]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [75]:
# Your code here
set2 = set(sample_list_2)
len(set2) == len(sample_list_2)
print(set2)
print(len(set2))

{0, 1, 2, 5, 6, 10, 11, 14, 15, 16, 18, 19, 20, 21, 24, 25, 27, 32, 34, 37, 38, 40, 41, 43, 45, 49, 50, 52, 53, 57, 60, 62, 63, 64, 66, 67, 68, 69, 72, 73, 74, 75, 78, 79, 80, 81, 82, 84, 85, 88, 89, 90, 93, 96, 97, 99}
56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [76]:
# Your code here
list3 = []
for elements in set1:
    if elements not in set2:
        list3.append(elements)

set3 = set(list3)
print(set3)
len(set3)

{3, 4, 7, 8, 9, 12, 13, 22, 23, 26, 28, 30, 31, 33, 35, 36, 39, 46, 54, 55, 56, 58, 59, 70, 71, 76, 77, 86, 87, 92, 94, 95, 98}

33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [77]:
#### Your code here
list4 = [] 
for elements in set2:
    if elements not in set1:
        list4.append(elements)
        
set4 = set(list4)
print(set4)
len(set4)

{64, 66, 43, 14, 16, 49, 85, 88, 57}

9

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [78]:
# Your code here
set5 = set(set1.intersection(set2))
print(set5)

{0, 1, 2, 5, 6, 10, 11, 15, 18, 19, 20, 21, 24, 25, 27, 32, 34, 37, 38, 40, 41, 45, 50, 52, 53, 60, 62, 63, 67, 68, 69, 72, 73, 74, 75, 78, 79, 80, 81, 82, 84, 89, 90, 93, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [106]:
# Your code here

print(len(set5) + len(set4) + len(set3) == len(set1.union(set2)))

True

#### Create an empty set called `set6`.

In [93]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [97]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [98]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [104]:
### Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [108]:
# Your code here

print(set5.union(set3,set4) == set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [113]:
# Your code here

#los sets no son ordenados, por lo que no existe un primer elemento que eliminar.
#el atributo pop nos permite eliminar un elemento al azar.
#podemos convertirlo en lista, eliminar el primero, y convertirlo en set de nuevo; 'del listacreada[0]'

set1.pop()
print(len(set1))

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [120]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 45, 46, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98}